:root {
    --primary-blue: #3b4a99;
    --dark-blue: #2a3a7f;
    --text-color: #555;
    --heading-color: #333;
    --background-light: #f8f9fa;
    --white: #ffffff;
}

/* MAIN SECTION */
main {}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    
}

section {
    display: flex;
    min-height: 80vh; 
    padding: 4em 3em; 
    gap: 3em; 
}

section .kiri,
section .kanan {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: var(--primary-blue);
    border: none;
    padding: 1em 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 220px;   
    text-align: center;
}
.btn:hover {
    background-color: var(--dark-blue);
}
.btn a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1em;
}

/* === PART 1 === */
.part-1 {
    padding: 0; 
    min-height: 100vh;
}
.part-1 .kanan{
    gap: 1em;
    text-align: justify;
    padding-right: 4em;
}
.part-1 .kiri {
    background-image: url(/assets/images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 3em; 
}
.part-1 .kiri .hero-text h1 {
    font-size: 3.5em;
    margin-bottom: 0.1em;
    color: black;
}
.hero-text{
    padding-bottom: 6em;
}
.kanan h2{
    color: black;
}

/* === PART 2 === */
.part-2 p.sub-heading {
    /* margin-bottom: 1em; */
    padding-top: 1em;
    /* font-style: italic; */
}
.part-2 ul {
    /* list-style: none;  */
    padding-left: 0;
    margin-left: 1.5em;
    line-height: 1.7; 
}
.part-2 ul li span {
    font-weight: bold;
    color: var(--heading-color);
}
.title-2{
    font-size: 50px;
    color: black;
}

.part-2 .kanan {
    padding-bottom: 4.5em;

}

.part-2 .kanan .title-2{
    padding-top: 0.5em;
}