/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;


}

.nav-list ul {
    list-style: none;
    gap: 1em;
    display: flex;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.75em 1.25em;
    transition: all 0.3s
}

.nav-list a:hover,
.nav-list a.active {
    background-color: #3b4a99;
    color: white;
}